<%- include('partials/header') -%>

<body id="page-top">
  <div>
    <header class="masthead bg-primary text-white text-center">
      <div class="container d-flex align-items-center flex-column font-color" >
        <div class="masthead container d-flex align-items-center flex-column font-color sign-up-gap ">
          <!-- Masthead Avatar Image--><img class="masthead-avatar mb-5 " src="https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm00ODNiYXRjaDItZWxlbWVudC1zLTA0MC14LmpwZw.jpg?s=zsK6i08ilLGGs08HScywkw9EM_o3oPcUKwT-Kdb3sFQ" alt="silhouette of a dog">
          <!-- Masthead Heading-->
      <div >
          <section >
            <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
            <% }) %> <% } %> <% if (locals.messages.info) { %> <%
            messages.info.forEach( el => { %>
            <div class="alert alert-info"><%= el.msg %></div>
            <% }) %> <% } %>
            <form action="/login" method="POST">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"
                  >Email address</label
                >
                <input
                  type="email"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  name="email"
                />
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="exampleInputPassword1"
                  name="password"
                />
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </section>
          <h1 class="masthead-heading mb-0"></h1>
          <!-- Icon Divider-->
          <div class="divider-custom divider-light">
              <div class="divider-custom-line"></div>
              <div class="divider-custom-icon"><i class="fas fa-dog"></i></div>
              <div class="divider-custom-line"></div>
          </div>
          <!-- Masthead Subheading-->
          <p class="pre-wrap masthead-subheading font-weight-light mb-0">Social Pet Network - Health Tracking - Community</p>
      </div>
  </header>
    
  </div>
</body>

<%- include('partials/footer') -%>
